@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div style="display:grid;grid-template-columns: 100px 100px 100px">
  <div style="display:grid" onclick="Value(this)">A</div>
  <div style="display:grid" onclick="Value(this)">B</div>
  <div style="display:grid" onclick="Value(this)">C</div>
  <div style="display:grid" onclick="Value(this)">D</div>
  <div style="display:grid" onclick="Value(this)">E</div>
  <div style="display:grid" onclick="Value(this)">F</div>
</div>
</div>

